:root {
  --ice-blue-juvie: #8fbcd4;
  --gothic-gray-blue: #6f8796;
  --dark-slate-infinity: #1f2a33;
  --very-light-slate: #f5f7fa;
  --very-light-blue: #c8d0d8;
  --Midnight-Blue: #161678;
}

main {
  padding: 0 40px;
}

.header-font {
  font-family: "Cinzel", serif;
}

.primary-header {
  text-align: center;
  color: var(--gothic-gray-blue);
}

.secondary-header {
  display: block;
  text-align: left;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 5px;
}

.nav {
  background-color: var(--dark-slate-infinity);
  font-family: "Cinzel", serif;
  font-size: 1.2em;
  padding: 10px;
}

.nav-link:hover {
  color: var(--dark-slate-infinity);
  background-color: var(--ice-blue-juvie);
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.nav-link {
  color: var(--ice-blue-juvie);
  text-decoration: none;
  transition:
    color 0.2s ease,
    background-color 0.2s ease;
  padding: 6px 12px;
  border-radius: 6px;
}

.cover-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.cover-container img:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.book-table {
  border: 1px solid var(--very-light-blue);
  border-collapse: collapse;
}
.book-table td,
.book-table th {
  text-align: center;
  padding: 6px;
  border: 1px solid var(--very-light-blue);
}

.book-header {
  background-color: var(--very-light-slate);
}
